<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">BicycLIST.si</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="routes.html">Routes</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="dodajanje_poti.html">Dodajanje Poti</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="forum.html">Forum</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="hoteli.html">Hoteli</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="komentarji.html">Komentarji</a></li>
                <li class="nav-item"><a class="btn btn-primary js-scroll-trigger pt-2 pb-2 mt-4 ml-2" href="register.html">Register</a></li>
                <a href="profil.html"><img src="assets\img\avatar.jpg" alt="Avatar" class="avatar"></a>
                <li class="nav-item" id="loggedInUser"></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="
    top: 50px;
">
    <div class="container">
        <div class="navbar-collapse collapse show" id="navbarResponsive">
            <form id="loginForm" name="loginForm" action="" method="POST">
                <input type="text" placeholder="Username" name="username"><input type="password" name="password"
                                                                                 placeholder="Password"><button type="button" id="logginButton">Login</button>
            </form>
        </div>
    </div>
</nav>
<section class="about-section text-center" id="about">
    <div class="container-fluid pot">
        <h2 class="card-title justify-content-start naslovPoti">{{ title }}</h2>
        <div class="row" style="height: 600px">
            <div class="col-md-4 mx-auto">
                <!--<h2 class="text-white mb-4">Bovec - Mangart</h2>-->
                <div class="card" style="width: 100%">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="card-text">Razdalja:</p>
                                <h5><b>{{ razdalja }}km</b></h5>
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text">Vzpon:</p>
                                <h5><b>{{ vzpon }}m</b></h5>
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text">Spust:</p>
                                <h5><b>{{ spust }}m</b></h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                {{{ tezavnost }}}
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text">Povprečna ocena:</p>
                                <h5><b>{{ ocena }}</b></h5>
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text">Oprema:</p>
                                <h5><b>{{ oprema }}</b></h5>
                            </div>
                        </div>
                        <hr>
                        <!--<img src="https://cdn.discordapp.com/attachments/844627508938670083/844668150238281829/Capture.PNG" style="width: 100%">-->
                        <img src={{ img }} style="width: 100%">
                    </div>
                </div>
            </div>
            <div class="col-md-8 mx-auto">
                <div id="map{{ id }}" class="map-hbs"></div>
                <!--<iframe src={{ mapa }} width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0">
                </iframe>-->
            </div>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvcBkgnsXXbwF9DTTyzgYQ4kKxB33YCuc&callback=initMap&libraries=&v=weekly"
                async
            ></script>
        </div>
        <!--<img class="img-fluid" src="assets/img/ipad.png" alt="..." />-->
    </div>
</section>
<div class="container-fluid hoteli-na-poti-container">
    <h2 class="card-title justify-content-start naslovPoti">Hoteli na poti</h2>
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Naziv</th>
                <th scope="col">Naslov</th>
                <th scope="col">E-pošta</th>
                <th scope="col">Telefon</th>
            </tr>
        </thead>
        <tbody>
            {{#each hoteli}}
            <tr>
                <td>{{ this.naziv }}</td>
                <td>{{ this.naslov }}</td>
                <td>{{ this.email }}</td>
                <td>{{ this.telefon }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <!--<img class="img-fluid" src="assets/img/ipad.png" alt="..." />-->
</div>
<div class="ibox-content forum-container">

    <div class="forum-title">
        <h3>KOMENTARJI</h3>
    </div>
    <form class="example" id={{ID_komentar}} method="POST" action="">
        <input type="text" name="title" id="komentarInput" placeholder="Dodaj komentar">
        <button type="button" id="komentarButton">Submit</button>
    </form>
    <script>
        var komentarField = document.getElementById("komentarInput");
        var komentarButton = document.getElementById("komentarButton");
        komentarButton.addEventListener('click', () => {
            console.log("{{ID_komentar}}")
            dodajKomentar(komentarField.value, "{{ID_komentar}}");
            prikazKomentarjev("{{ID_komentar}}");
        });
    </script>

    <div id="faqItems">
        <div class="forum-item">
            <div class="row">
                <div class="col-md-9">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid hoteli-na-poti-container">
        <h2 class="card-title justify-content-start naslovPoti">Komentarji</h2>
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th scope="col">Komentar</th>
                </tr>
            </thead>
            <tbody>
                {{#each komentarji}}
                <tr>
                    <td>{{ this.komentar }} <button class="btn btn-danger brisiPotGumb"
                            onclick="brisiKomentar({{this.ID_komentarji}})">Izbriši</button>
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
        <!--<img class="img-fluid" src="assets/img/ipad.png" alt="..." />-->
    </div>
    <div class="ibox-content forum-container">



    </div>
    </section>

    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50">
        <div class="container">Copyright &copy; Your Website 2021</div>
    </footer>

    <script src="js/routes.js"></script>
    <script src="js/login.js"></script>